<%= form_with(model: station, local: true) do |form| %>
  <% if station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :station_code %>
  </div>

  <div class="field">
    <%= form.label :location_name %>
    <%= form.text_field :location_name, id: :station_location_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
