<% @forecasts.each do |fcast| %>

  <%= button_to('Remove', user_selections_path(station: {id: fcast[:id]}), method: :delete) %>
  <!-- button_to('Remove', user_selections_path(current_user.id, fcast[:id]), method: :delete)  -->

  <!-- <div class='forecastBox'>
    <div class='forecastWindow'> -->
    <div class="list-group-item col-sm-4">
      <div >
        <span>Conditions for <%= fcast['observations'].display_location.full %>&nbsp—&nbsp<%= fcast['observations'].station_id %></span><br />
        <span><%= fcast['observations'].observation_time %></span><br />
        <span>Temp: <%= fcast['observations'].temp_f %>°F</span><br />
        <span>Winds: <%= fcast['observations'].wind_string %></span><br />
        <span>Precip (today/1hr): <%= fcast['observations'].precip_today_in %></span>
        <span><%= fcast['observations'].precip_1hr_in %></span><br />
      </div>
      <!-- <div class='statWindow'> -->
        <div>
        <% (0..3).each do |n|%>
          <table class='statTable'>
            <tr>
              <th scope='row'></th>
              <td class='row'><%= fcast['dailyFx']['day'][n] %></td>
            </tr>
            <tr>
              <th scope='row'>POP:</th>
              <td  class='row'><%= fcast['dailyFx']['pop'][n] %></td>
            <tr>
              <th scope='row'>QPF:</th>
              <td  class='row'><%= fcast['dailyFx']['qpf'][n] %></td>
            </tr>
            <tr>
              <th scope='row'>QSF:</th>
              <td class='row'><%= fcast['dailyFx']['snowIn'][n]  %></td>
            </tr>
            <tr>
              <th scope='row'>MaxWind:</th>
              <td class='row'><%= fcast['dailyFx']['maxwindMph'][n]  %></td>
            </tr>
          </table>
        <% end %>
      </div>
  </div>

  <br /><br /><br />
<% end %>
