<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @station.code %>
</p>

<p>
  <strong>Location name:</strong>
  <%= @station.location_name %>
</p>




<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
