<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @station.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @station.description %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %> |
<%= link_to 'Delete', station_path, {method: :delete} %>
