<h1><%= @user.name %></h1>

<center><%= @user.email %></center>

<hr />
<span>Station Selections</span>
<br />

<%= render 'newStation' %>

<hr />

<span>User Stations</span><br />
<%= render 'selections' %>


<hr />


<%= render 'weatherDisplay' %>
