<h1><%= @user.name %></h1>

<center><%= @user.email %></center>

<hr />
<span>Station Selections</span>
<br />



  <%= form_for(@user) do |f| %>

      <%= render 'shared/error_messages', object: @user %>

      <%= f.label "Add station" %>
      <%= f.text_field :stations, class: 'form-control' %>

      <%= f.submit " Enter Station ", class: "btn btn-primary" %>

  <% end %>



  <% @user.stations.each do |station| %>
    <span>Station: <%= station.code %> - <%= station.description %></span>
    <br />

  <% end %>
