  <% @forecasts.each do |fcast| %>
    <% if fcast %>
      <!-- <div class='row'> -->
          <div class='forecastBox'>
            <div class='title'>
              <div class='item '>
                <%= fcast[:description] %>
              </div>
              <div class='item'>
                <%= fcast[:elevation] %>
              </div>
              <div class='item'>
                <%= fcast[:observations][:temp] %>°F
              </div>
            </div>
              <!-- <div><%= link_to('Remove',
                user_selection_path(:id => fcast[:station_id]), {method: :delete, class: 'btn btn-default btnRemove'}) %></div> -->

            <div class='forecastTable '> <!-- pull-right table-responsive -->
              <div class='item'>Precip: (1hr | 24hrs): <%= fcast[:observations][:precip_1hr] %>&nbsp;|&nbsp;<%= fcast[:observations][:precip_today] %></div>
              <div class='item center'><%= image_tag fcast[:observations][:icon_url], class: 'image-responsive' %></div>
              <table class='table table-condensed text-right forecastTable borderless'>
                <thead>
                  <tr scope='row'>
                    <th></th>
                    <th class='text-right'><%= fcast[:daily_fx][0][:day] %></th>
                    <th class='text-right'><%= fcast[:daily_fx][1][:day] %></th>
                    <th class='text-right'><%= fcast[:daily_fx][2][:day] %></th>
                    <th class='text-right'><%= fcast[:daily_fx][3][:day] %></th>
                  </tr>
                </thead>
                <tbody>
                  <tr scope='row'>
                    <th><i class='wi wi-humidity icon-humidity' title='Probably of Precipitation' ></i></th> <!--POP -->
                    <td><%= fcast[:daily_fx][0][:pop] %></td>
                    <td><%= fcast[:daily_fx][1][:pop] %></td>
                    <td><%= fcast[:daily_fx][2][:pop] %></td>
                    <td><%= fcast[:daily_fx][3][:pop] %></td>
                  </tr>
                  <tr scope='row'>
                    <th><i class='fas fa-tint' title='Forecasted Precipitation'></i></th> <!--QPF wi wi-raindrop icon-->
                    <td><%= fcast[:daily_fx][0][:qpf] %></td>
                    <td><%= fcast[:daily_fx][1][:qpf] %></td>
                    <td><%= fcast[:daily_fx][2][:qpf] %></td>
                    <td><%= fcast[:daily_fx][3][:qpf] %></td>
                  </tr>
                  <tr scope='row'>
                    <th><i class='fas fa-snowflake icon-snow' title='Forecasted Snow'></i></th> <!--SNOW -->
                    <td><%= fcast[:daily_fx][0][:snow_in] %></td>
                    <td><%= fcast[:daily_fx][1][:snow_in] %></td>
                    <td><%= fcast[:daily_fx][2][:snow_in] %></td>
                    <td><%= fcast[:daily_fx][3][:snow_in] %></td>
                  </tr>
                  <tr scope='row'>
                    <th><i class='wi wi-strong-wind icon' title='Forecasted Max Winds'></i></th> <!--WIND -->
                    <td><%= fcast[:daily_fx][0][:max_wind_mph] %></td>
                    <td><%= fcast[:daily_fx][1][:max_wind_mph] %></td>
                    <td><%= fcast[:daily_fx][2][:max_wind_mph] %></td>
                    <td><%= fcast[:daily_fx][3][:max_wind_mph] %></td>
                  </tr>
                <!-- <% fcast[:daily_fx].each do |daily_fx| %>
                  <tr>
                    <th><%= daily_fx[:day] %></th>
                    <td><%= daily_fx[:pop] %></td>
                    <td><%= daily_fx[:qpf] %></td>
                    <td><%= daily_fx[:snow_in] %></td>
                    <td><%= daily_fx[:max_wind_mph] %></td>
                  </tr>
                <% end %> -->
              </tbody>
            </table>
          </div>
          <div class='updateTime'>
            <%= fcast[:observations][:time]%>
          </div>
        </div>

      <!-- </div> -->
      <!-- </div> -->
    <% end %>
  <% end %>

<!-- </div> -->
