<div>  <!-- class='card card-deck'>// card-deck d-flex flex-column -->
  <% @forecasts.each do |fcast| %>
    <% if fcast %>
      <div class=' d-flex flex-column forecastBox col-lg-4 col-md-6 col-xs-12'> <!-- card-body -->
        <div class=' '>
          <!-- h5 card-title -->
          <%= fcast[:description] %><br />
          <%= fcast[:elevation] %>
        </div>
        <div>   <!-- card-text small-->

          <span>Temp: <%= fcast[:observations][:temp] %>°F</span><br />
          <span>Winds: <%= fcast[:observations][:wind] %></span><br />
          <span>Precip (today/1hr): <%= fcast[:observations][:precip_today] %>
          </span>
          <span><%= fcast[:observations][:precip_1hr] %></span><br />
        </div>
          <br />
          <div class='table-responsive'>
            <table class='table table-condensed'>
              <thead >
                <tr>
                  <th></th>
                  <th>POP</th>
                  <th>QPF</th>
                  <th>QSF</th>
                  <th>Wind</th>
                </tr>
            </thead>
            <% fcast[:daily_fx].each do |daily_fx| %>
              <tr>
                <th><%= daily_fx[:day] %></th>
                <td><%= daily_fx[:pop] %></td>
                <td><%= daily_fx[:qpf] %></td>
                <td><%= daily_fx[:snow_in] %></td>
                <td><%= daily_fx[:max_wind_mph] %></td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
        <div class='btn col-md-3'>
        <%= link_to('Remove',
          user_selection_path(:id => fcast[:station_id]), {method: :delete}) %>
        </div>
        <div><%= fcast[:observations][:time]%></div>
    </div>
  <% end %>

</div>
<br /><br /><br />
