<p id="notice"><%= notice %></p>

<div class='container'>

  <h1>Selections Dashboard</h1>
  <h3 class='center'><%= current_user.email %></h3>
  <hr />

  <%= render 'stationList' %>

  <hr />
    <%= render 'newStation' %>
  <hr />



  <%= render 'weatherDisplay' %>


</div>
